html{
    scroll-behavior: smooth;
}
body{
    font-family: Roboto;
}
.blue{
    background-color: blue;
    width: 100%;
    height: 25vh;
}
p{
    margin: 0;
}
.half{
    max-width: 50%;
}
.third{
    max-width: 33.33%
}
.text-primary-color {
    color: #44CCFF;
}
.text-light{
    color:white;
}
.text-dark{
    color:black;
}
.bg-primary-color {
    background-color: #44CCFF;
}
.flex-container{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
}
.flex-item{
    padding: 30px;
    flex-basis: 0;
    flex-grow: 1;
}
@media only screen and (max-width: 1000px) {
    .flex-container{
        flex-wrap: wrap;
    }
    .flex-item{
        flex-basis: unset;
    }
}
.flex-item > b, .flex-item > p {
    display: block;
}
nav.flex-container > .flex-item{
    padding: unset;
    flex-basis: unset;
    flex-grow: unset;
}
.top-header{
    background-color: #F3F3F3;
    color: black;
    font: sans-serif;
}
.top-header.flex-container{
    flex-direction: row-reverse;
    justify-content:  flex-start;
}
.top-header.flex-container > .flex-item{
    margin: 5px 20px 5px;
}
.top-header.flex-container > .flex-item > .downarrow{
    width: 40px;
    height: 100%;
    text-decoration: none;
    color:black;
}
.bottom-header.flex-container {
    justify-content: flex-Start;
    flex-direction: row;
    justify-content: space-between;
}
.bottom-header > a, .bottom-header > .flex-item {
    margin: 10px 5px 10px;
}
.flex-container > .flex-item {
    align-self: flex-start;
}
.flex-item.vertical-center{
    align-self: center;
}
.flex-container > .flex-logo {
    align-self: flex-end;
}
.flex-logo > .shape, .flex-logo > p{
    display: inline-block;
}
.shape{
    width: 36.31px;
    height: 22px;
    background: #44CCFF;
}
.square{
    width: 20px;
    height: 20px;
}
hr {
    margin: 5rem 20px 5rem;
}
article{
    margin: 13vh auto 13vh;
}
article.flex-container{
    align-items: center;
}
.intro-card{
    text-align: center;
    max-width: 70%;
    background-color: white;
}
.art-bg{
    background-image: url("/images/bg.svg");
}
ul, .intro-card small{
    text-align: left;
    display: block;
}
ul.attributes{
    list-style-type: none;
    padding: unset;
    margin: auto;
}
ul.attributes p{
    display: inline-block;
    margin-left: 20px;
}
.price-container{
    padding: 30px;
}
.price-container > .flex-item{
    padding: unset;
}
.button-container{
    justify-content: space-between;
    padding: 30px;
}
.button-container > .flex-item{
    padding: unset;
}
.center{
    text-align: center;
    margin: 0 30px 0;
}
h1.center{
    margin: auto 20% 4rem;
}
@media only screen and (max-width: 950px) {
    h1.center{
        margin: auto;
    }
}
.component{
    margin: 8px;
    padding: 20px;
    border-radius: 2px;
    box-shadow: 1px 1px 10px -2px rgba(0,0,0,0.37);
}
.component.intro-card{
    margin: auto;
}
@media only screen and (max-width: 550px) {
    .intro-card{
        max-width:100%;
    }
}
.component-header{
    flex-direction: row;
    justify-content: space-between;
    display: flex;
}
.component > h2{
}
form > div{
    width:100%;
}
form > .flex-container {
    flex-direction: row-reverse;
    justify-content: flex-start;
}
form > .flex-container > .flex-item{
    flex-grow: unset;
}
